USE [MEDICAL]
GO
/****** Object:  Table [dbo].[BARCODES]    Script Date: 7/25/2025 10:48:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BARCODES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BARCODE] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BARCODES] ON 

INSERT [dbo].[BARCODES] ([ID], [BARCODE]) VALUES (1, N'3686b873-9485-4981-a4fa-19268f94840d')
INSERT [dbo].[BARCODES] ([ID], [BARCODE]) VALUES (2, N'd42ba723-6618-4eeb-a329-b601ba3f2106')
INSERT [dbo].[BARCODES] ([ID], [BARCODE]) VALUES (3, N'cc9d8c64-09bc-41df-9219-59685331f160')
GO
SET IDENTITY_INSERT [dbo].[BARCODES] OFF
GO
