USE [MEDICAL]
GO
/****** Object:  StoredProcedure [dbo].[GENERATEBARCODE]    Script Date: 7/25/2025 11:27:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GENERATEBARCODE]
AS
DECLARE @I AS INT=1
DECLARE @DRUGID AS INT
WHILE @I<2000000
BEGIN
SET @DRUGID=RAND()*4750
INSERT INTO DRUGBARCODE(DRUGID,BARCODE) VALUES (@DRUGID,NEWID())
SET @I=@I+1
END
GO
/****** Object:  StoredProcedure [dbo].[GETDRUGINFO]    Script Date: 7/25/2025 11:27:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETDRUGINFO]
@BARCODE AS VARCHAR(100)
AS
BEGIN
SELECT 
DB.BARCODE as BARCODE,D.DRUGNAME,D.PRICE 
 FROM DRUGBARCODE DB
LEFT JOIN DRUGS D ON D.ID=DB.DRUGID 
  WHERE BARCODE=@BARCODE 

END
GO
