USE [MEDICAL]
GO
/****** Object:  Table [dbo].[DRUGS]    Script Date: 7/25/2025 11:26:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRUGS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DRUGNAME] [varchar](50) NULL,
	[PRICE] [float] NULL,
 CONSTRAINT [PK_DRUGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DRUGS] ON 

INSERT [dbo].[DRUGS] ([ID], [DRUGNAME], [PRICE]) VALUES (1, N'A1 İLACI', 147)
INSERT [dbo].[DRUGS] ([ID], [DRUGNAME], [PRICE]) VALUES (2, N'A2 İLACI', 10)
INSERT [dbo].[DRUGS] ([ID], [DRUGNAME], [PRICE]) VALUES (3, N'A3 İLACI', 44)
GO
SET IDENTITY_INSERT [dbo].[DRUGS] OFF
GO
